#logoimg{
    height: 80px;
    width: 225px;
    margin-left: -12px;
}
.phnum{
    display: inline;
    font-size: small;
    padding-top: 10px;
    padding-left: 58px;
}
.home{
    background-color: orange;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
}
.navlink{
    font-family: 'Times New Roman', Times, serif;
    margin-right: 5px;
}
.list{
    font-size: 12px;
    font-weight: bold;
    color: black;
}
.list a:hover{
    background-color: rgb(14, 160, 245);
    color: white;
    border-radius: 10px;
}
.socialicon {
    font-size: 18px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    border:  2px solid blue;
    padding: 4px;
}
.socialicon:hover{
    background-color: blue;
    color: white;
    border-radius: 10px;
}
.secondnav{
    color: white;
    text-decoration: none;
}
.headbutton{
    background-color: white;
}
